#event_20161205 #header{padding-bottom:10px; border-bottom: 1px solid #f1f1f1}
#event_20161205 #header .header_top_banner{background: url(images/top_banner.jpg) repeat-x top center; width: auto; height: 80px}
#event_20161205 #header .header_top_menu{padding:8px 0}
#event_20161205 #header .inner{margin:0 auto; width: 1265px; overflow: hidden}
#event_20161205 #header .header_top_menu .top_menu_left{float: left}
#event_20161205 #header .header_top_menu .top_menu_right{float: right}
#event_20161205 #header .header_top_menu .top_menu_left{overflow: hidden}
#event_20161205 #header .header_top_menu .top_menu_left li{float: left; margin-left: 25px}
#event_20161205 #header .header_top_menu .top_menu_left li:first-child{margin-left: 0}
#event_20161205 #header .header_top_menu .top_menu_left li a{display: block; font-size: 11px; color: #6a747d}
#event_20161205 #header .header_top_menu .top_menu_left li span{color: #ed1c24; margin-left: 4px}

#event_20161205 #header .header_top_menu .top_menu_right li{float: left; padding:0 7px;font-size: 12px; border-left: 1px solid #d3d3d5; line-height: 12px; color: #6a747d}
#event_20161205 #header .header_top_menu .top_menu_right li:first-child{margin-left: 0; border-left: 0}
#event_20161205 #header .header_top_menu .top_menu_right .icon_my{display:block; background: url(images/header_select.png) no-repeat center right; width:75px}
#event_20161205 #header .header_top_menu .top_menu_right span{color: #ed1c24}
#event_20161205 #header .header_top_menu .top_menu_right li ul{display: none; position:absolute; margin-top:10px; padding:5px; width:86px; border:1px solid #232a32;}
#event_20161205 #header .header_top_menu .top_menu_right li:hover ul{display:block}
#event_20161205 #header .header_top_menu .top_menu_right li ul li{margin:13px 0 0 0; border-left: 0}
#event_20161205 #header .header_top_menu .top_menu_right li ul li:first-child{margin-top:0}

#event_20161205 #header .header_main{padding: 17px 0;}
#event_20161205 #header .header_main .main_left{float: left;overflow: hidden;}
#event_20161205 #header .header_main .main_left h1{float: left;}
#event_20161205 #header .header_main .main_left .search_insert{display: block; float: left; margin-left:60px }
#event_20161205 #header .header_main .main_left input[type="text"]{padding:0 13px; width:362px; height: 35px; border:2px solid #093250;}
#event_20161205 #header .header_main .main_left .search_icon{display: block; float: left;}
#event_20161205 #header .header_main .main_slider{float: right; overflow: hidden;}
#event_20161205 #header .header_main .main_slider li a{display: block;}
#event_20161205 #header .header_main .main_slider li{float: left;padding:16px 45px 0 0;}
#event_20161205 #header .header_main .slider{overflow: hidden;}
#event_20161205 #header .header_main .controls{position: relative;}
#event_20161205 #header .header_main .prev{position: absolute; top:-18px; left:191px;}
#event_20161205 #header .header_main .next{position: absolute; top:-18px; left:208px;}

#event_20161205 .main_menu img{vertical-align: middle;}
#event_20161205 .main_menu span{font-family: 굴림; font-weight: bold; font-size: 14px;}
#event_20161205 .main_menu .category{display: block; float: left; background: url(images/header_select.png) no-repeat right center;width: 125px;}
#event_20161205 .main_menu ul{margin:5px 0 0 194px; overflow: hidden;}
#event_20161205 .main_menu ul li{float:left; margin-left:30px;font-family: 굴림; font-weight: bold; font-size: 14px }
#event_20161205 .main_menu ul li:first-child{margin-left: 0}
#container .inner{margin:0 auto; width: 1265px; overflow: hidden}
#container .inner .left_menu{float: left; padding:23px 0 0 0; border-left: 1px solid #d2d3d5; border-right: 1px solid #d2d3d5}
#container .inner .left_menu li{padding:11px 16px; font-family:굴림; font-weight: bold;font-size: 13px}
#container .banner{float: left; width: 815px; height: 431px;}
#container .banner_list {overflow: hidden; padding:11px 0px;border-top:1px solid #d2d3d5; border-bottom:1px solid #d2d3d5; }
#container .banner_list > li{float: left; padding: 5px 17px; border-left: 1px solid #aeaeae; line-height: 13px; font-size: 14px;}
#container .banner_list > li:first-child{border-left: 0}
#container .inner{overflow: hidden;}
#container .banner_area .left_menu ul{overflow: }
#container .banner_area .left_menu ul li{float: left;padding:18px 4px 15px 5px; border-left: 1px solid #093250;background:#093250; }
#container .banner_area .left_menu ul li:first-child{border-left: 0}
#container .banner_area .left_menu ul li a{color: #fff}

#container .main_right_ban{float: left; border:1px solid #d2d3d5;}
#container .main_right_ban li{border-top: 1px solid #d2d3d5;}
#container .main_right_ban li:first-child{border-top:0;}
#container  .small_banner{padding-top: 40px; overflow: hidden; clear: both}
#container  .small_banner li{float: left; margin-left: 19px; width: 301px; height:190px }
#container  .small_banner li:first-child{margin-left: 0}
#container  .small_banner li a{display: block;}
#container .service_info{margin-top:50px; padding: 30px 0; background: #eaeced;}
#container .service_info ul {overflow: hidden;}
#container .service_info ul li{float: left; margin: 15px 0 0 17px;}

#container .hot_issue{padding: 90px 0;}
#container .hot_issue h2{float: left;}
#container .hot_issue p{float: left; margin:9px 0 0 35px;}
#container .hot_issue ul{padding:50px 0 0 0; clear: both;overflow: hidden;}
#container .hot_issue ul li{float: left; padding: 0 16px; width:220px; border-left: 1px solid #aeaeae}
#container .hot_issue ul li:first-child{border-left: 0}
#container .hot_issue ul li .price{display: block; margin-top: 20px;}
#container .hot_issue ul li a{display:block; font-size: 13px;margin-top:20px;text-align: center}
#container .price{margin-top: 20px; text-align: center; font-size: 18px;}
#container .price .price_title{color:#ed1c24 }

#container .good_deal{padding: 60px 0; background: #eaeced;}
#container .good_deal h2{float: left;}
#container .good_deal p{float: left; margin:9px 0 0 35px;}
#container .good_deal ul{padding:30px 0; overflow: hidden; width: 1265px; height: 686px;}
#container .good_deal ul li{float: left; margin: 13px 0 0 13px }
#container .good_deal ul li a{display: block;}

#container .lifetime_system{padding: 70px 0; overflow: hidden;}
#container .lifetime_system h2{float: left;}
#container .lifetime_system .bx-pager-premium{float: right; }
#container .lifetime_system .bx-pager-premium .tab01, #container .lifetime_system .bx-pager-premium .tab02,
#container .lifetime_system .bx-pager-premium .tab03, #container .lifetime_system .bx-pager-premium .tab04{ padding:0 80px ;}
#container .lifetime_system .premium_slider{margin-top: 55px}
#container .lifetime_system .premium_slider li{overflow: hidden; border:1px solid #aeaeae;height: 567px;}
#container .lifetime_system .premium_slider .premium_detail_title{display: block; float: left;}
#container .lifetime_system .premium_slider .premium_detail{float: left;}
#container .lifetime_system .premium_slider .premium_detail a{display: block;}
#container .lifetime_system_controls .prev{display: block; }

#container .premium_controls{position: relative;}
#container .premium_controls .premium_prev{position: absolute; top:-290px; left:0px;}
#container .premium_controls .premium_next{position: absolute; top:-290px; left:1228px;}
#container .premium_controls a{display: block;}

#container .first_product{border-bottom: 1px solid #aeaeae}
#container .recommand_product{padding: 50px 0;background-color: #eaeced;}
#container .recommand_product_title{overflow: hidden;}
#container .recommand_product_title h2{float: left;}
#container .recommand_product_title p{float:left; margin: 10px 0 0 25px;}

#container .recommand_product .product_01{margin-top: 45px; overflow: hidden; height: 798px;}
#container .recommand_product ul li{position:relative;float: left; margin-left: 10px; background: #fff; border: 1px solid #aeaeae}
#container .recommand_product .product a{display: block}
#container .recommand_product .product {padding:10px 10px 25px; width: 281px; height: 403px}
#container .recommand_product .product p{font-size: 14px;}
#container .recommand_product .product p span{color: #9aa1a7}
#container .recommand_product .product .product_price{margin-top:24px;}
#container .recommand_product .product .price_title{color:#ed1c24}
#container .recommand_product .product strong{margin-left: 10px; font-size: 20px}
#container .recommand_product .product .discount{font-size:12px; font-weight: bold}
#container .product_tepal{position: absolute;top:-80px; left:0; padding: 15px 21px 25px; width: 260px;}
#container .product_missing{margin-top: 10px}
#container .product_tepal p{margin-top: 20px; font-size: 14px;}
#container .product_tepal .discount{margin-top: 0px;}
#container .recommand_product .product_tepal .price_title{color:#ed1c24}
#container .recommand_product .product_tepal strong{margin-left: 10px; font-size: 20px}
#container .recommand_product .product_tepal .discount{font-size:12px; font-weight: bold}
#container .product_02 .product_02_01{padding:15px 18px 25px; margin: 10px 0 0 10px;width: 267px; height:395px }
#container .product_02 .product_02_03{margin-top: 10px}
#container .product_02 .product_02_01 p{margin-top: 20px; font-size: 14px;}
#container .recommand_product .product_02 .product_02_01 .price_title{color:#ed1c24}
#container .recommand_product .product_02 .product_02_01 strong{margin-left: 10px; font-size: 20px}
#container .recommand_product .product_02 .product_02_01 .discount{margin-top: 0px; font-size:12px; font-weight: bold}
#container .recommand_product .product_02 .product_02_07{margin:-78px 0 0 10px; padding:15px 18px 25px;  width: 267px}
#container .recommand_product .product_02 .product_02_07 .price_title{color:#ed1c24}
#container .recommand_product .product_02 .product_02_07 strong{margin-left: 10px; font-size: 20px}
#container .recommand_product .product_02 .product_02_07 .discount{margin-top: 0px; font-size:12px; font-weight: bold}
#container .product_02 .product_02_07 p{margin-top: 20px; font-size: 14px;}
#container .recommand_product .product_02_07 p span{color: #9aa1a7}
#container .recommand_product .product_02 p span{color: #9aa1a7}
#container.product_02_01 .product_price .discount_percent{font-size: 25px; color:#ed1c24; font-weight: bold }
#container .special_service{margin-top: 10px;}
#container .facebook{margin-top: -89px}
#container .move_install{margin-top: 8px;}
#container .footer .footer_top{padding: 15px 0 30px 0; background:#232a32; border-bottom: 1px solid #384048; }
#container .footer .footer_top ul li a{color: #aeb3bb; font-size: 12px}
#container .footer .footer_top ul {float:left; overflow: hidden}
#container .footer .footer_top ul li{float: left; margin-left: 20px;}
#container .footer .footer_top ul li:first-child{margin-left: 0}
#container .footer .footer_top select{margin-left: 15px;}
#container .footer .footer_top .relate_site{float: right;}
#container .footer_main{margin-top: 30px;}
#container .footer_main_logo{float: left}
#container .footer_main .notice{display: block; color:#aeb3bb; font-size: 12px; }
#container .footer_logo_detail{float: left;padding-left: 30px;}
#container .footer_logo_detail p{margin:10px 0 0 0;font-size: 11px; color:#aeb3bb;}
#container .footer_logo_detail dl{font-size: 10px; color:#aeb3bb; width: 820px; overflow: hidden;}
#container .footer_logo_detail dd{float: left; margin-right: 10px}
#container .footer_logo_detail dt{float: left; margin-right: 5px}
#container .footer_logo_detail dt:first-child{margin-left: 0}
#container .footer_logo_detail .tel{margin-top: 10px}
#container .footer_logo_detail p{margin-top: 20px;}
#container .footer_logo_detail span{color:#c42729;}
#container .footer_bottom {padding: 20px 0;}
#container .footer_bottom dl{overflow: hidden; font-size:11px;}
#container .footer_bottom dt{float: left;margin-right: 10px;}
#container .footer_bottom ul{overflow: hidden;}
#container .footer_bottom ul .footer_bottom_first{float: left; margin-left: 20px}
#container .footer_bottom ul .footer_bottom_first:first-child{margin-left: 0}
#container .footer_bottom ul li dd{font-size: 11px; margin-left: 10px;}
#container .footer_bottom ul li {float: left; margin-left:10px;}
#container .footer_logo{width: 54px}
#container .footer_logo dt{margin-left: 10px ;width: 65px;}
#container .footer_logo_five{width: 295px}
#container .last dl {width:134px }
